.banner {
  height: 100vh;
  background-image: url(../images/bg_home.jpg);
  background-size: cover;
  background-position: center;
  @include mobile {
    height: 448px;
    max-width: 100%;
  }
}

.text-gradient {
  background: linear-gradient(to top, #62db54, #09acf5);
  background: -webkit-linear-gradient(to top, #62db54, #09acf5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.background-gradient {
  background: linear-gradient(to left, #62db54, #09acf5);
}

.banner-text {
  padding: 51px 0;
}

.white-point {
  height: 10px;
  width: 10px;
  background-color: #ffffff;
}

.feature {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: #202020;
    border: 1px solid #62db54;
    border-radius: 12px;
    .feature-icon {
      background: linear-gradient(to top, #62db54, #09acf5);
      background: -webkit-linear-gradient(to top, #62db54, #09acf5);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.lecture {
  &:hover {
    border: 2px solid #62db54;
  }
}

.line {
  width: 50px;
  height: 3px;
  background-color: #62db54;
}

.bg-info-1 {
  height: 615px;
  background-image: linear-gradient(rgba(28, 28, 28, 0.9)),
    url(../images/info01.jpg);
  background-size: cover;
  background-position: center;
  &:hover {
    background-image: linear-gradient(rgba(28, 28, 28, 0)),
      url(../images/info01.jpg);
  }
  @include mobile {
    height: 263px;
  }
}

.bg-info-2 {
  height: 615px;
  background-image: linear-gradient(rgba(28, 28, 28, 0.9)),
    url(../images/info02.jpg);
  background-size: cover;
  background-position: center;
  &:hover {
    background-image: linear-gradient(rgba(28, 28, 28, 0)),
      url(../images/info02.jpg);
  }
  @include mobile {
    height: 263px;
  }
}

.bg-info-3 {
  height: 615px;
  background-image: linear-gradient(rgba(28, 28, 28, 0.9)),
    url(../images/info03.jpg);
  background-size: cover;
  background-position: center;
  &:hover {
    background-image: linear-gradient(rgba(28, 28, 28, 0)),
      url(../images/info03.jpg);
  }
  @include mobile {
    height: 263px;
  }
}

.bg-info-4 {
  height: 615px;
  background-image: linear-gradient(rgba(28, 28, 28, 0.9)),
    url(../images/info04.jpg);
  background-size: cover;
  background-position: center;
  &:hover {
    background-image: linear-gradient(rgba(28, 28, 28, 0)),
      url(../images/info04.jpg);
  }
  @include mobile {
    height: 263px;
  }
}

.info {
  &:hover {
    .info-icon {
      color: #62db54;
    }
    .line {
      background-color: #62db54 !important;
    }
  }
}

.article {
  &:hover {
    .corner-1 {
      width: 32px;
      height: 32px;
      border-top: 1px solid #62db54;
      border-left: 1px solid #62db54;
      border-radius: 12px 0 0 0;
      @include mobile {
        display: none;
      }
    }

    .corner-2 {
      width: 32px;
      height: 32px;
      border-top: 1px solid #62db54;
      border-right: 1px solid #62db54;
      border-radius: 0 12px 0 0;
      @include mobile {
        display: none;
      }
    }

    .corner-3 {
      width: 32px;
      height: 32px;
      border-bottom: 1px solid #62db54;
      border-left: 1px solid #62db54;
      border-radius: 0 0 0 12px;
      @include mobile {
        display: none;
      }
    }

    .corner-4 {
      width: 32px;
      height: 32px;
      border-bottom: 1px solid #62db54;
      border-right: 1px solid #62db54;
      border-radius: 0 0 12px 0;
      @include mobile {
        display: none;
      }
    }
  }
}

.bg-share {
  height: 733px;
  background-image: url(../images/bg_share.jpg);
  background-size: cover;
  background-position: center;
  @include mobile {
    background-image: none;
    background-color: #000000;
  }
  .share-bg-photo {
    width: 525px;
    height: 381px;
    border-radius: 24px;
    position: absolute;
    top: 0;
    left: 5px;
    @include mobile {
      width: 330px;
      height: auto;
      position: static;
    }
  }
}

.share-container {
  width: 925px;
  height: 429px;
  @include mobile {
    width: 331px;
    height: auto;
  }
}

.share-box {
  width: 525px;
  height: 381px;
  border: 1px solid #7c7e77;
  position: absolute;
  top: 5px;
  left: 0;
  @include mobile {
    display: none;
  }
}

.share-border {
  display: inline-block;
  border-radius: 24px 24px 24px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
}

.share-content {
  position: absolute;
  bottom: 0;
  right: 0;
  @include mobile {
    position: static;
    margin-top: 40px;
  }
}

.selfie {
  position: absolute;
  right: 32px;
  bottom: 126px;
  @include mobile {
    right: 36px;
    bottom: 184px;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  position: unset;
  color: #62db54;
}

.swiper-pagination-bullet {
  position: unset;
  background: #62db54 !important;
  opacity: 1 !important;
  transition: 0.5s;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 8px;
  border-radius: 100px;
  transition: 0.5s;
}

.swiper-move {
  position: absolute;
  bottom: 0;
  left: 196px;
  @include mobile {
    position: static;
    margin-top: 32px;
  }
}

.book-icon {
  width: 103px;
  font-size: 80px;
}

.small-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.swiper-btn-resize {
  flex-shrink: 100 !important;
}

// .swiper-slide {
//   overflow-x: hidden;
// }
