.my-80 {
  margin: 80px 0;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-37 {
  margin-bottom: 37px;
}

.pb-32 {
  padding-bottom: 32px;
}

.px-32 {
  padding: 0 32px;
}

.p-32 {
  padding: 32px;
}

.py-80 {
  padding: 80px 0;
}
